@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-layout-template {
  grid:
  "header" auto
  "main" 1fr
  "footer" auto
  / 1fr;
}

.grid-area-header {
  grid-area: header;
}

.grid-area-main {
  grid-area: main;
}

.grid-area-footer {
  grid-area: footer;
}